body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
}

.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 130px;
}
h2{
    font-size: 20px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;

}
.link-button{
    text-decoration: none; 
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Dream-Big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.Experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.Experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px black;
    border-left: solid;
}
#Web-dev-exp{
    border-left: 3px solid;
    border-image: liner-gradient(blue, cyan);
    border-image-slice: 1;
}
#Full-stack-exp{
    border-left: 3px solid;
    border-image: liner-gradient(salmon, tomato);
    border-image-slice: 1;

}
footer p{
    text-align: center;
}